.container{
    background-color:#151515;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    
}

.adminTitle{
    font-size: x-large;
    margin-top: 0px;
    padding: 10px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

