.container{
position: fixed;
top: 50px;
left: 0px;
width: 200px;
height: 100%;
background-color:#E5E5E5;
z-index: 1;
}

.linkContainer{
margin-top: 50px;
display: flex;
flex-direction: column;
gap: 10px;
text-align: center;

}

.navLink{
width: 90%;
height: 30px;
border-radius: 5px;
margin:auto;
display: flex;
flex-direction: row;
text-decoration: none;
color: black;

}
.navLink:hover{
   background-color: whitesmoke;
    
}

.iconContainer{
width: 30%;
height: 100%;
padding: 5px;
}

.linkText{
 width: 100%;
 text-align: left;
 padding: 5px;
 
}



